/* Navigation */
.navContainer {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10px;
}

.navContainer a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.2rem;
}
